*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body{
    background: rgb(242,0,41);
    background: linear-gradient(321deg, rgba(242,0,41,1) 0%, rgba(249,249,249,1) 85%);
   font-family: 'Roboto', sans-serif;
   
/*background: radial-gradient(circle, rgba(45,129,255,0.61) 0%, rgba(249,248,248,1) 100%);*/
}

.navbar{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    align-items: center;
    background-color: #ce0023;
}
.nav-heading-container{
    display: flex;
}
.nav-heading{
    align-self: center;
    padding: 20px;
    font-size: 24px;
    color: white;
}

.csi-logo{
    height: 75px;
    width: 75px;
}
.nav-links{
    color: white;
    text-decoration: none;
    margin: 20px;
}
.blog-button{
    background-color: #2e5f9b;
    border: none;
    padding: 11px;
    width: 150px;
    border-radius: 20px;
    color: white;
    font-size: 16px;
    font-weight: bolder;
    letter-spacing: 1px;
}

.about-krmu{
    display: flex;
    padding: 30px;
    justify-content: space-evenly;
    align-items: center;
}
.join-us-btn{
    padding: 15px;
    background-color:#2e5f9b;
    border: none;
    margin-top: 20px;
    border-radius: 25px;
    font-size: 17px;
    font-weight: bolder;
    width: 140px;
    color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
}



.about-text-content{
    width: 40%;
}
.about-text-content h2{
text-align: center;
}
.mb-10{
    margin-bottom: 10px;
}
.about-text-content p{
    margin-left: auto;
    margin-right: auto;
width: 80%;
}

.about-image-content{
    width: 50%;
}
.about-image-content img{
    height: 350px;
    width: auto !important;
    max-width: 100%;
    border-radius: 40px;
}
.owl-dots{
    display: none;
}

.mission-container{
    margin: 25px 0 25px 0;
    padding: 25px 100px 50px 100px;
    
}

.mission-heading{
    text-align: center;
}

.mission-image-text{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mission-image-text p{
width: 50%;
}

.mission-image-text img{
    height: 240px;
    width: 265px;
    border-radius: 100%;
}



.upcoming-events-heading{
    text-align: center;
    margin-bottom: 20px;
}

.upcoming-events-image img{
    height: 350px;
    width: auto !important;
    max-width: 100%;
    border-radius: 40px;
    margin-left: auto;
    margin-right: auto;
}
.owl-nav{
    display: none;
}

.footer{
    display: flex;
    background-color: #ce0023;
    color: white !important;
    justify-content: space-between;
    padding: 40px 80px 40px 80px;
    margin-top: 100px;
}
.left-footer img{
height: 125px;
width: 125px;
margin-bottom: 20px;
}

.useful-links{
    display: flex;
    flex-direction: column;
}
.useful-links a{
    text-decoration: none;
    color: white;
    margin: 10px;
}
.socials img{
margin: 10px;
}



/*Animations*/
.btn-animation{
    transition: all ease 0.5s;
    cursor: pointer;
}
.btn-animation:hover{
 /*border: 1px solid #2D81FF;*/
 transform: scale(1.1);
 box-shadow: inset 0px 0px 0px 3px #2e5f9b;
 background-color: #f9f8f8;
 color: black;
}
/*Animations end*/




/*Responsive Code*/
@media only screen and (max-width: 836px) {

    .navbar{
        flex-wrap: wrap;
        margin-bottom: 15px;
    }

    .nav-heading-container{
        order: 1;
    }

    .nav-items{
            order: 3;
            margin-left: auto;
            margin-right: auto;
            padding: 15px 0 0px 0;
    }


    .blog-btn-div{
            order: 2;
    }

    .blog-btn-div button{

    }

    .about-krmu{
        flex-direction: column-reverse;
        padding: 20px;
        padding-top: 0;
    }
    .about-image-content img{
        height: 214px;
        margin-left: auto;
        margin-right: auto;
    }
    .about-text-content{
        width: 100%;
        margin-top: 25px;
    }
    .about-image-content{
        width: 100%;
        
    }
    .about-text-content h2{
        font-size: 19px;
    }
    .about-text-content p{
        width: 95%;
        font-size: 15px;
    }
    .join-us-btn{
        margin-top: 20px;
    }

    .mission-image-text{
        flex-direction: column;
        margin-top: 20px;
    }
    .mission-image-text p{
        width: 100%;
        margin-top: 20px;
        font-size: 15px;
    }

    .mission-container{
        padding: 30px;
    }

    .left-footer{
        margin-bottom: 20px;
    }
    .left-footer h2{
        font-size: 19px;
    }

    .left-footer img{
        height: 90px;
        width: 90px;
    }

    .right-footer h2{
        font-size: 19px;
    }

    .useful-links a{
        font-size: 15px;
    }

    .footer{
        flex-direction: column;
        padding: 20px 40px 20px 40px;
    }
}



@media only screen and (max-width: 460px) {
    
   .csi-logo{
       height: 52px;
       width: 52px;
   } 
   .nav-heading{
    padding: 0;
    font-size: 20px;
    padding-left: 10px;
   }
    
    .nav-links{
        font-size: 15px;
        margin: 5px;
    }
    .blog-button{
        letter-spacing: normal;
        width: 90px;
        font-size: 14px;
    }
}

@media only screen and (max-width: 355px) {
.nav-links{
    font-size: 14px;
}
.about-krmu{
    padding-top:0;
    padding-bottom: 0;
}
.navbar{
    padding-bottom: 10px;
}
.nav-items{
    padding-bottom: 5px;
}
.join-us-btn{
    margin-top: 9px;
}
}
/*Responsive Code ends*/