*{
    margin: 0;
    padding: 0;
}




.topbar{
    display:flex;
    height:150px;
    width:100%;
    background-color:#3D84B8;
   
}


.krmu-logo{
    margin-top: 30px;
    margin-left: 30px;
}

h3{
    color:red;
    margin-top: 60px;
    margin-left: 30px;
}




.navbar{
    height:150px;
    width:100%;
    background-color:#558776;
}



.active{
    border: 1px solid blue;
    text-decoration: none;
    background-color: white;
    color: black;
    padding: 5px; 
    display: inline-block;
    margin-top:40px; 
    margin-left: 100px; 
    box-shadow: 5px 10px 18px #888888;

}



.item{
    border: 1px solid blue;
    text-decoration: none;
    background-color: white;
    color: black;
    padding: 5px;
    display: inline-block;
    margin-top:40px; 
    margin-left: 100px;   
    box-shadow: 5px 10px 18px #888888;  
}


a:hover{
    background-color:orange;
    color: purple;
}


/* .about-krmu{
    height:150px;
    width:100%;
    background-color:#F2F4C3;
} */

.a{
    background-color: pink;
}


.center{
    text-align: center;
}

.info{
    background-color: #BEDBBB;
}

.b{
    background-color: #B7657B;
}

.events{
    display:inline-block;
    margin: 30px;
}


.eventpost{
    margin-left: 60px;
}


.footer{
    height:300px;
    width: 100%;
    background-color: pink;
    
}


.link1{
    text-decoration: none;
    border:1px solid black;
    color:black;
    display:inline-block;
    background-color: white;
    margin-top: 50px;
    margin-left: 30px;
}


.btm-rt{
    float:right;
    margin-right: 20px;
    margin-top: 100px;
}